# Python Keyword

In [1]:
import keyword

In [2]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)

35

# identifiers

In [4]:
1ve = 10  #we cant start variable name as a number
print(1ve)

SyntaxError: invalid decimal literal (2907314812.py, line 1)

In [5]:
val@ = 23 # identifier cant start with special symbol
print(val@)

SyntaxError: invalid syntax (2419493483.py, line 1)

In [7]:
import = 45 # variable cant use as identifier
print(import)

SyntaxError: invalid syntax (1652631764.py, line 1)

In [8]:
val2 = 10
print(val2)

10

In [9]:
val_ = 80
print(val_)

80

# comments

In [10]:
val1 = 10  # single line comment
print(val1)

10

In [11]:
'''
multiple 
line 
comment'''
print("python")

python

# statement

In [13]:
p  = 20
q  = 45
r  = 80
print(p)   # print only p 
print(type(q))  # print only type
print(id(r))    # print only location

20
<class 'int'>
140736708346776

In [14]:
p  = 20        # variable overwriting
p  = p + 10
print(p)

30

In [16]:
int_variable = 10  # integer variable
float_variable = 78.90  # float variable
str_var = "Hello World"  # string variable

print(int_variable)
print(float_variable)
print(str_var)

10
78.9
Hello World

In [17]:
intvar ,  floatvar, stringvar = 10, 2.57,"python Language"  # we can define the variable in one line
print(intvar)
print(floatvar)
print(stringvar)

10
2.57
python Language

In [18]:
p1 = p2= p3= p4  = 55  # all variable pointing to same value
print(p3)

55

# Data Types

# Numeric

In [19]:
var1 = 10   # integer data type
print(var1)

10

In [20]:
print(type(var1))  # type of object

<class 'int'>

In [24]:
import sys

In [29]:
var2 = 10.34
print(sys.getsizeof(var2))  # size of float object in bytes

24

In [34]:
val3 =  90
print(val3, "is integer?" ,isinstance(val3, int))
print(val2, " is float?", isinstance(val2, float))  # isintance function used for check

90 is integer? True
10  is float? False

In [37]:
val4 = 90 + 80j
print(val4)
print(type(val4))  #type of complex value
print(sys.getsizeof(val4)) # size of object in bytes
print(val4,"is complex ?", isinstance(val4,complex))

(90+80j)
<class 'complex'>
32
(90+80j) is complex ? True

In [38]:
sys.getsizeof(int())

28

In [39]:
sys.getsizeof(float())

24

In [42]:
sys.getsizeof(complex())

32

# Boolean

# Boolean data type can have only two possible values true or false

In [46]:
bool1 = True

In [47]:
bool2 = False

In [48]:
print(type(bool1))

<class 'bool'>

In [49]:
print(type(bool2))

<class 'bool'>

In [50]:
bool(0)

False

In [51]:
bool(1)

True

In [52]:
bool(None)

False

In [53]:
bool(False)

False

# string

# string creation

In [67]:
str1 = "Hello world"
print(str1)

Hello world

In [56]:
mystr = 'Hello World' # define string using single quotes
print(mystr)

Hello World

In [57]:
mystr2 = "Hello Python"  # define string using double quote
print(mystr2)

Hello Python

In [58]:
mystr4 = '''Hello
            world'''  # define string using triple quotes
print(mystr4)

Hello
            world

In [60]:
mystr5 = ( 'Happy '
           'Monday '
           'everyone ')
print(mystr5)

Happy Monday everyone

In [64]:
mystr6 = 'waw '
mystr6 = mystr6 * 5
print(mystr6)

waw waw waw waw waw

In [66]:
print(len(mystr6))  # length of string they count the letter and space

20

In [68]:
================string Indexing==================

In [69]:
string = "Hello World"
print(string)

Hello World

In [70]:
string[0]

'H'

In [72]:
string[len(string)-1]    # length of string

'd'

In [73]:
string[6]

'W'

In [76]:
string[5]

' '

=============================string Slicing=====================

In [78]:
string1 = "Hello world"  # string slicing
string1[0:5]

'Hello'

In [79]:
string1[1:5]

'ello'

In [80]:
string1[:5]

'Hello'

In [81]:
string1[-5:]

'World'

In [83]:
string1[5]

' '

================ update and delete string====================

In [84]:
str0 = "Laptop" # string are immutable we ant change after create
str0[0:5] = "Mob"

TypeError: 'str' object does not support item assignment

In [85]:
del str0

In [86]:
print(str0)

NameError: name 'str0' is not defined

====================== string Concatination ===================

In [91]:
# string concatination
s1 = "hello"
s2 = "Asif"
s3 = s1 + s2
print(s3)

helloAsif

In [94]:
_hur =10
print(_hur)  # we canuse slash

10